body {
  padding: 10px;
}

header {
    background: url(hero-image.jpg) center;
    height: 20vh;
    justify-content: left;
    text-align: left;
  }

h1 {
  font-size: 2.5em;
  padding: 13px;
  font-weight: bold;
}

form {
  margin-top: 10px;
}
